<%- include ../partials/header.ejs %> <%- include ../partials/top_nav.ejs %>

<main class="container">
  <form class="form" method="POST">
    <div class="form-group">
      <label for="ptitle">Project Title:</label>
      <input type="text" class="form-control" id="ptitle" name="ptitle" />
    </div>
    <div class="form-group">
      <label for="pdescription">Project description:</label>
      <textarea
        type="text"
        class="form-control"
        id="pdescription"
        name="pdescription"
      >
      </textarea>
    </div>
    <div class="form-group">
      <label for="date">Project Deadline:</label>
      <input type="date" class="form-control" id="date" name="date" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
