<%- include partials/header.ejs %>

<div className="chatroom-container container container-body">
  <div class="row chatcord-row">
    <div class="left col-md-2 mb-2 mb-sm-0">Hi</div>
    <div class="mid col-md-8 mb-3 mb-sm-0">
      <div class="chat-area">
        <div class="chat">
          <span style="font-weight: bold">Username</span>
          <p style="margin: 0px">Hello world!</p>
          <p style="margin: 0px; text-align: right">time</p>
        </div>
      </div>
      <div class="input-area-div">
        <input type="text" class="input-area" placeholder="Type here..." />
        <p style="margin: 0px; text-align: center">Be nice here :)</p>
      </div>
    </div>
    <div class="right col-md-2 mb-3 mb-sm-0">
      <p style="margin: 0px; text-align: center; color: white">Users</p>

      <hr style="margin: 5px; color: white" />
      <div>
        <ul class="users" style="color: white">
          <li>user 1</li>
          <li>user 2</li>
          <li>user 3</li>
        </ul>
      </div>
    </div>
  </div>

  <%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
</div>
